.bedmanagement {

  &-form {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;

    &-btns {
      display: flex;
      width: 70%;
      flex-flow: row wrap;
    }

    &-btn {
      margin-right: 20px;
      color: #888;
      width: 88px;
      height: 26px;
      color: #8D8D8E;
      border: none;
      margin-bottom: 20px;
      cursor: pointer;

      &:focus, &:active {
        outline: none;
      }

      &.active {
        background-color: #1876D2;
        color: white;
      }
    }

    &-location {
      margin-top: 30px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & label {
        color: #888888;
        font-size: 14px;
      }

      & input {
        width: 280px;
        height: 40px;
        font-size: 14px;
        background-color: #F3F3F3;
        color: #7D8E94;
        border: none;
        margin-left: 20px;
        padding-left: 10px;
      }
    }

    &-submit {
      background-color: #7B8D93;
      font-size: 14px;
      color: #ffffff;
      width: 130px;
      height: 40px;
      border: none;
      border-radius: 4px;
      margin-top: 10px;
      margin-left: 80%;
      transform: translateX(-100%);
    }
  }

  &-map {

    &-heading {
      display: block;
      color: #888888;
      font-weight: 500;
      margin-top: -5px;
    }

    &-text {
      display: block;
      color: #9A9A9A;
    }
  }

  &-result {
    margin-bottom: 2px;
    
    &-heading {
      color: #888;
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 10px;
      display: block;
    }
  }
}